.company__formats {
  &-icons {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 600px) {
  .company__formats {
    &-icons {
      margin-top: 80px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
      flex-wrap: wrap;
    }
  }
}
