.company__partners {
  &-title {
    text-align: center;
    margin-bottom: 70px;
  }

  #carouselNine {
    .item {
      display: flex;
      align-items: center;
      height: 100px;
      img {
        width: 150px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .company__partners {
    &-title {
      text-align: center;
      margin-bottom: 30px;
    }

    #carouselNine {
      .item {
        display: flex;
        align-items: center;
        height: 100px;
        img {
          width: 150px;
        }
      }
    }
  }
}
