@font-face {
  font-family: 'IBX400';
  src: url('../assets/fonts/IBMPlexSerif-Light.ttf');
}

@font-face {
  font-family: 'IBX600';
  src: url('../assets/fonts/IBMPlexSerif-SemiBold.ttf');
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-Bold.ttf');
}
