.buy__tickets-data {
  &-title {
    text-align: center;
    margin-bottom: 80px;
    h3 {
      color: $main-red;
    }
  }

  &-inputs {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    .data_name-error,
    .data_tel-error,
    .data_email-error {
      font-size: 0.5em;
      width: 150px;
      text-align: center;
      color: $main-red;
      padding-top: 10px;
    }

    input {
      padding: 10px;
      border: 2px solid $main-red;
      border-radius: 10px;
    }
    input::placeholder {
      font-size: 0.8em;
      font-family: 'IBX400', sans-serif;
    }
    button {
      padding: 10px 20px 10px 20px;
      background-color: $main-red;
      border: none;
      color: white;
      border-radius: 25px;
      font-size: 0.7em;
      font-family: 'IBX400', Arial, Helvetica, sans-serif;
    }
  }

  &-agree {
    margin-top: 30px;
    text-align: center;
    p {
      font-size: 0.7em;
    }
  }
}

@media screen and (max-width: 782px) {
  .buy__tickets-data {
    &-title {
      text-align: center;
      margin-bottom: 30px;
      h3 {
        color: $main-red;
      }
    }

    &-inputs {
      text-align: center;
      display: flex;
      flex-direction: column;
      margin-right: 20px;
      gap: 10px;
      flex-wrap: wrap;

      input {
        width: 50%;
        padding: 10px;
        border: 2px solid $main-red;
        border-radius: 10px;
      }
      input::placeholder {
        font-size: 0.8em;
        font-family: 'IBX400', sans-serif;
      }
      button {
        margin-top: 20px;
        align-self: center;
        width: 55%;
        padding: 10px 20px 10px 20px;
        background-color: $main-red;
        border: none;
        color: white;
        border-radius: 25px;
        font-size: 0.7em;
        font-family: 'IBX400', Arial, Helvetica, sans-serif;
      }
    }

    &-agree {
      margin-top: 30px;
      text-align: center;
      p {
        font-size: 0.7em;
      }
    }
  }
}
