.buy__tickets-line {
  margin-top: 30px;
  padding: 0;
  background-color: $main-red;
  height: 50px;
  display: flex;
  align-items: center;
  color: white;
  font-family: 'IBX400', Arial, Helvetica, sans-serif;
}
