.profile {
  margin-top: 50px;
  &__title {
    margin: 0 30px 50px 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    &-person {
      display: flex;
      align-items: center;
      gap: 20px;
      line-height: 0.8;
    }
  }

  &__options {
    margin: 0 30px 0 30px;
    display: grid;
    grid-template-columns: 30% 65%;
    column-gap: 50px;

    &-choice {
      width: 80%;
      height: 25%;
      padding: 20px;
      background-color: rgb(238, 236, 236);
      border-radius: 15px;
      div {
        display: flex;
        align-items: center;
        gap: 10px;
        button {
          padding: 15px;
          border: none;
          font-size: 1em;
          font-weight: 600;
          cursor: pointer;
        }
        button:hover {
          color: $main-red;
        }
        button:active {
          color: $main-red;
        }
        button:focus {
          color: $main-red;
        }
      }
    }

    &-ticket {
      padding: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: rgb(238, 236, 236);
      border-radius: 15px;
      &-title {
        text-align: center;
        margin-bottom: 50px;
      }
      &-desc {
        p {
          line-height: 1.5;
          padding: 5px;
          border-bottom: 2px solid rgba($color: #000000, $alpha: 0.2);

          span {
            color: $main-red;
            font-weight: 600;
          }
        }
      }
    }

    &-event {
      padding: 20px;
      border-radius: 15px;
      background-color: rgb(238, 236, 236);
      display: none;
      &-item {
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 90%;
        }

        &-container {
          &-title {
            font-size: 1.2em;
          }
          &-desc {
            display: flex;
            justify-content: space-between;
            div:first-child {
              p {
                margin-top: -10px;
                font-size: 0.6em;
              }
            }
            div:last-child {
              display: flex;
              align-self: flex-end;
              gap: 10px;
              button {
                background-color: rgb(238, 236, 236);
                margin-top: -20px;
                font-size: 0.6em;
                font-weight: 400;
                color: $main-red;
                border: none;
                cursor: pointer;
              }
              button:hover {
                color: black;
              }
            }
          }
        }
      }
    }

    &-FAQ {
      display: none;
      padding: 100px;
      background-color: rgb(238, 236, 236);
      border-radius: 15px;
      text-align: center;
    }
  }
}

@media screen and (max-width: 800px) {
  .profile {
    &__title {
      margin: 0 30px 50px 30px;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;

      &-person {
        display: flex;
        align-items: center;
        gap: 20px;
        line-height: 0.8;
      }
    }

    &__options {
      margin: 0 30px 0 30px;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      gap: 20px;

      &-choice {
        width: 70%;
        height: 25%;
        padding: 20px;
        background-color: rgb(238, 236, 236);
        border-radius: 15px;

        div {
          display: flex;
          align-items: center;
          gap: 10px;
          button {
            text-align: left;
            color: black;
            background-color: rgb(238, 236, 236);
            padding: 15px;
            border: none;
            font-size: 1em;
            font-weight: 600;
            cursor: pointer;
          }
          button:hover {
            color: $main-red;
          }
          button:active {
            color: $main-red;
          }
          button:focus {
            color: $main-red;
          }
        }
      }

      &-ticket {
        width: 70%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(238, 236, 236);
        border-radius: 15px;
        &-title {
          text-align: center;
          margin-bottom: 50px;
        }
        &-desc {
          p {
            line-height: 1.5;
            padding: 5px;
            border-bottom: 2px solid rgba($color: #000000, $alpha: 0.2);

            span {
              color: $main-red;
              font-weight: 600;
            }
          }
        }
      }

      &-event {
        width: 70%;
        padding: 20px;
        border-radius: 15px;
        background-color: rgb(238, 236, 236);
        display: none;
        &-item {
          padding: 20px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          img {
            width: 100%;
          }

          &-container {
            width: 100%;
            &-title {
              width: 100%;
              text-align: left;
              font-size: 1em;
            }
            &-desc {
              margin-top: -5px;
              display: flex;
              flex-wrap: wrap;
              div:first-child {
                p {
                  margin-top: -5px;
                  font-size: 0.6em;
                }
              }
              div:last-child {
                display: flex;
                align-self: flex-end;
                gap: 10px;
                button {
                  margin-top: 0;
                  font-size: 0.6em;
                  font-weight: 400;
                  color: $main-red;
                  border: none;
                  cursor: pointer;
                }
                button:hover {
                  color: black;
                }
              }
            }
          }
        }
      }

      &-FAQ {
        width: 100%;
        display: none;
        padding: 100px;
        background-color: rgb(238, 236, 236);
        border-radius: 15px;
        text-align: center;
      }
    }
  }
}
