.company__contacts {
  &-req {
    text-align: center;
    p {
      font-size: 0.875em;
    }
    a {
      color: $main-red;
      text-decoration: underline;
    }
  }
  &-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    &-item {
      h4 {
        letter-spacing: 1px;
        line-height: 1.3;
        font-size: 0.875em;
        text-transform: uppercase;
      }
      p {
        line-height: 1.5;
        text-transform: uppercase;
        font-size: 0.7em;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .company__contacts {
    display: none;
  }
}
