.company__tech {
  &-container {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 40px;
    img {
      width: 200px;
    }
  }
}

@media screen and (max-width: 800px) {
  .company__tech {
    &-title {
      text-align: center;
    }
    &-container {
      padding: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      place-items: center;
      column-gap: 20px;
      row-gap: 40px;
      img {
        width: 150px;
      }
    }
  }
}
